@import '../../assets/style.less';

.profile-page-grid {
  display: grid;
  /* Define 3 columns with the desired width ratio */
  grid-template-columns: 1.5fr 1.5fr 3fr;
  /* Define 3 rows with the desired height ratio */
  grid-template-rows: 1fr 2fr 1;
  /* Add some gap between cells */
  gap: 1rem;

  background-color: #3D5C82;
}

.profile-page-section {
  padding: 1rem;

  border-radius: 1rem;
  background-color: #61a8dc;
}

.profile-page-item-border {
  border-style: solid;
  border-color: #0275f9;
  border-width: 0.2rem;
}

.profile-page-round-large {
  border-radius: 2rem;
}

.profile-page-round {
  border-radius: 1rem;
}

/*.profile-badge-display-container {
  max-height: 640px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
  grid-template-rows: 2fr 2fr 2fr 2fr;
  
  gap: 2rem;
  
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}*/

.badge-item {
  flex: 0 0 auto; /* Do not grow or shrink */
  margin-right: 10px; /* Adjust space between badges */
  width: 90%; /* Reduce width of each badge */
  /* Adjust other properties like height, padding as needed */
}

.profile-badge-display {
  max-height: 500px; /* Adjust this value based on your layout */
  overflow-y: auto; /* Allows vertical scrolling */
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.profile-badge-display-container {
  max-height: 640px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 768px) {
  .badge-item {
    width: 80%; /* Example: smaller width on smaller screens */
  }
}

@media (max-width: 480px) {
  .badge-item {
    width: 70%; /* Even smaller on very small screens */
  }
}

.profile-available-badges {
  max-height: 800px; /* Adjust based on your layout needs */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: auto; /* Show vertical scrollbar only if needed */
  grid-row: span 1;
  grid-column: span 1;
}


.profile-card {
  grid-row: span 2;
  grid-column: span 1;
}

.profile-biography-section {
  grid-row: span 1;
  grid-column: span 2;
}

.profile-badge-display {
  grid-row: span 1;
  grid-column: span 2;
}

.profile-project-display {
  grid-row: span 1;
  grid-column: span 2;
}

.profile-available-badges {
  grid-row: span 1;
  grid-column: span 1;
}

.profile-page-button {
  background-color: #f0d65b;
  text-align: center;
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
}

.profile-page-button:hover {
  background-color: #ffeea6;
}

.profile-edit-profile-image-form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.profile-edit-profile-image-form > div {
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.profile-edit-profile-image-form input[type=file] {
  width: 8rem;

  padding-left: 0.5rem;
  text-align: center;
  font-weight: bold;

  border-style: solid;
  border-color: #00000000;
  border-width: 0.2rem;
}

.profile-edit-profile-image-form input::file-selector-button {
  display: none;
}

.profile-edit-profile-image-form input::file-selector-button:hover {
  background-color: #ffeea6;
}

.profile-edit-biography-form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.profile-edit-biography-form > textarea {
  background-color: #colors[tertiary];
  padding: 0.5rem;
}

.profile-edit-biography-form > div {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
}

// Todo Should move to separate component
.profile-badge-display-slot {
  grid-row: span 3;
  grid-column: span 1;

  background-color: #f0d65b;
}


.profile-badge-display-change-button {
  grid-row: span 1;
  grid-column: span 1;

  background-color: #f0d65b;
  text-align: center;
}
