@import '../../assets/style.less';

.badge-page-section {
  width: 100%;
}

.badge-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width:  100%;
}

.badge-card-name {
  font-size: 22px; /* Reduce the font size, adjust as needed */
  text-align: center; /* Ensures the text is centered if not already */
  /* Additional styling can be added here if needed */
}


.badge-card-image {
  max-width: 100%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.badge-card-role {
  text-align: center;
}


.badge-details {
  text-align: center;
}

.bold {
  font-weight: 700;
}